.bast_form_wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  z-index: 99999;
}

.bast_form {
  width: 100%;
  max-width: 360px;
  margin: 10px;
  display: grid;
  background: #fff;
  grid-gap: 20px;
  position: relative;
  padding-bottom: 20px;
}

.bast_form_body {
  display: grid;
  grid-gap: 15px;
  padding: 0 20px;
}

.bast_form_header {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #80cded;
}

.bast_form input:not(input[type=checkbox]) {
  outline: none !important;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0 0 6px 1px rgb(0 0 0 / 20%);
  padding: 7px 15px;
  width: 100%;
}

#bast_form_name {
  margin-bottom: 20px;
}

.bast_form button {
  background-color: #ff7800;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  transition: all .3s ease;
}

.bast_form_submit,
.bast_form_destroy {
  max-width: 186px;
  margin: 0 auto;
  width: 100%;
  border: none;
  outline: none !important;
  font-size: 14px;
  line-height: 1.2;
  padding: 15px;
}
.bast_form_submit{
  font-weight: 700;
  letter-spacing: 1px;
}
.bast_form button:hover {
  background: #fff005;
  color: #000;
}

.bast_form_close {
  position: absolute;
  top: 7px;
  left: calc(100% - 33px);
  width: 26px;
  height: 26px;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
}

.bast_form_error {
  background: #fff;
  padding: 3px 10px 3px 6px;
  border-left: 4px solid red;
  box-shadow: 0 4px 6px 2px rgb(0 0 0 / 26%);
  font-size: 12px;
  display: none;
}

.show_error {
  display: block;
}

.bast_name_error {
  top: 88px;
}

.bast_phone_error {
  top: 141px;
}
